{% extends "base.html.twig" %}

{%block body %}
    <div class="mainBlock col-12">
        <div class="text-center pt-5">

            <form action="/coding-challenge/public/myJSON" method="GET">
                <div class="mb-2">
                <select name="tech1" id="tech1">
                    {% for tech in tech %}
                        <option value="{{ tech.name }}">{{ tech.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="mb-2">
                <select name="tech2" id="tech2">
                    {% for tech in tech %}
                        <option value="{{ tech.name }}">{{ tech.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="mb-2">
                <select name="tech3" id="tech3">
                    {% for tech in tech %}
                        <option value="{{ tech.name }}">{{ tech.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="button">
                    <button type="submit" class="boiteTextHome textHome">Découvre ton nom de ninja!</button>
                </div>
            </form>

            
        </div>
    </div>
{% endblock %}